<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Calificación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agregar la calificación del alumno</h1>
        <form method="POST">
            <label for="asignatura_id">Asignatura:</label>
            <select name="asignatura_id" required>
                {% for asignatura in asignaturas %}
                    <option value="{{ asignatura.asignatura_id }}">{{ asignatura.nombre }}</option>
                {% endfor %}
            </select><br><br>
            <label for="calificacion">Calificación:</label>
            <input type="number" name="calificacion" step="0.1" min="0" max="10" required><br><br>
            <button type="submit">Agregar Calificación</button>
        </form>
    </div>
</body>
</html>